*,#root, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

.app {
    height: 100%;
    background-size: cover;
    background: url("./images/mount.jpg") no-repeat center;
    display: flex;
    justify-content: center;
}

.card{
    background-color:whitesmoke ;
    width: 40%;
    height: 20%;
    border-radius: 2%;
    margin-top: 15%;
    padding: 2%;
}

.heading{
    font-family: 'Spartan', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
